*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclpise Files
.classpath
.project
.settings/

# Target Files
*/target/*
**/classes

# MyBatis Files
.springBeans

#Jrebel Files
rebel.xml

*/.gitignore

# IntelliJ Idea
.idea/
out/
*.ipr
*.iws
*.iml

*/.factorypath
*/.apt_generated
/target/

*.bpmn/